.navbar-navbarContainer {
    width: 100%;
    height: 100px;
    padding:0rem 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#FB8500;

    
}

.navbar-logoContainer {
    color:#000;
    font-weight: bold;
    font-size: 2rem;

}


.navbar-getStartedButton {
    border-radius: 10rem;
    padding:0rem 2rem;
    height :2.5rem;
    border-color: #000;
    color:#000;
    background-color: transparent;
    border-width: 2px;
}